html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body{
  margin: auto;
  padding:20px;
  display: table;
}

.main-div{
  display:table-cell;
  vertical-align:middle;
}

.main-menu-button{
  border: 2px solid red;
  background-color: white;
  border-radius: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.table-margin{
  margin:20px;
}

.h1-pesquisa-margin{
  margin-left: -18px;
}

.table-line-border{
  border: 2px solid red;
  border-collapse: collapse;

}

.table-col-border{
  border-right:2px solid red;
  border-bottom: 2px solid red;
  border-collapse: collapse;
}

.table-col-border-top{
  border-top: 2px solid red;
  border-collapse: collapse;
}

.table-col-border-left{
  border-left: 2px solid red;
  border-collapse: collapse;
}

.table-col-border-right{
  border-right:2px solid red;
  border-collapse: collapse;
}

.product-button{
  background-color: white;
  border: 0px;
  border-radius: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  font-size: 20px;
  height:45px;
}

.categorias-inside-menu-button{
  text-align: left;
}


.no-padding{
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.no-margin{
  margin:0px 0px 0px 0px;
}

.contain-button{
  padding-left: 0px;
  padding-right: 0px;
}

.color-padding{
    padding:35px;
    background-image:linear-gradient(to bottom, rgba(240, 255, 40, 1) 0%, rgba(240, 255, 40, 1) 100%), linear-gradient(to bottom, rgba(240, 40, 40, 1) 0%, rgba(240, 40, 40, 1) 100%);
    background-clip: content-box, padding-box;
}

.color-backgorund-category{
  background-color:#FF6666;
}

.product-padding{
  padding-left: 45px;
}

.box-body-scroll{
  max-height:670px;
  overflow-y: auto;
  overflow-x:hidden;
  width: 100%;
  display:none;
}

.col-size{
  height: 50px;
}

.down-button{
  webkit-appearance:none;
  font-size: 18px;
  color:#008CBA;
}

.configurar-row-margin{
  margin-left:30px;
}

.answer-box{
  background-color: #CBD0D1;
}

.input-padding{
  padding-top: 7px;
}

.overflow-rows{
  overflow:hidden;
}

.answers-inside{
  display: none;
}

.characteristics-inside{
  display: none;
}

#custom-search-input {
        margin:0;
        margin-top: 0px;
        padding: 0;
    }

    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */

        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 15px;
        margin-top: 2px;
        position: relative;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }

    .search-query:focus + button {
        z-index: 3;
    }


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #ff3333;
    color: black;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #ff3333;
    color: black;
}

.inputCatName, .inputCatName:focus {
  width: 100%;
  margin: 0;
  border: none;
  padding: 0;
  outline:none;
  background: none;
  font-size: 150%;
}


.border {
  -webkit-animation: color_change 1s infinite alternate;
  -moz-animation: color_change 1s infinite alternate;
  -ms-animation: color_change 1s infinite alternate;
  -o-animation: color_change 1s infinite alternate;
  animation: color_change 1s infinite alternate;
  animation-name: color_change;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border:2px solid red;
  animation-iteration-count: 4;
}

@-webkit-keyframes color_change {
  from { background-color: white; }
  to { background-color: red; }
}
@-moz-keyframes color_change {
  from { background-color: white; }
  to { background-color: red; }
}
@-ms-keyframes color_change {
  from { background-color: white; }
  to { background-color: red; }
}
@-o-keyframes color_change {
  from { background-color: white; }
  to { background-color: red; }
}
@keyframes color_change {
  from { background-color: white; }
  to { background-color: red; }
}

#InputButtonCatName {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float: left;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

#InputButtonCatName:hover {
    background-color: #555555;
    color: white;
}



.login{
  z-index: 1;
  position: absolute;
  width:350px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

#triangle{
  width:0;
  border-top:12x solid transparent;
  border-right:12px solid transparent;
  border-bottom:12px solid #FF6666;
  border-left:12px solid transparent;
  margin:0 auto;
}

.login h1{
  background:#FF6666;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}


input[class="value"]{
  width:92%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

input[class="addQuestion"]{
  width:100%;
  background:#ff3333;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

input[class="addQuestion"]:hover{
  background:#FF0000;
}