.interface-size{
  height:500px;
}

.interface-overflow{
  overflow-y:auto;
}

.interface-right-size{
  height:445px;
}

.table-col-border{
  border: 2px solid red;
  margin: -1px -1px -1px -1px;
}

.table-col-border-end{
  border: 2px solid red;
  margin: -1px -1px -1px -1px;
}

.table-col-border-first{
  border: 2px solid red;
  margin: 0px -1px -1px -1px;
}

.table-col-border-end-first{
  border: 2px solid red;
  margin: 0px -1px -1px -1px;
}

.table-col-size{
  height:60px;
}

.table-contain-button{
  padding:0;
}

.table-button{
  height:56px;
  background-color: white;
  font-size: 125%;
  border-radius: 0;
}

.table-contain-h3{
  background-color: #FF6666;
}

.box-of-questions{
  max-height:200px;
  overflow:auto;
}

.input-padding{
  padding-top: 12px;
}

#custom-search-input {
  margin:0;
  margin-top: 0px;
  padding: 0;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 15px;
  margin-top: 2px;
  position: relative;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#D9230F;
}

.search-query:focus + button {
  z-index: 3;
}

.right-table-margin{
  margin-top:0px;
  margin-bottom:0px;
}

.product-button{
  background-color: white;
  border: 0px;
  border-radius: 0px;
  padding:0;
  margin: 0px;
  font-size: 20px;
  height:45px;
}

.down-button{
  height:30px;
  font-size: 125%;
  margin-top: 25px;
  background-color: white;
  border: 2px solid red;
  padding:0;
}

.no-padding{
  padding:0;
}

.box-of-questions{
  display:none;
}

.box-of-answers{
  display:none;
}

.box-of-characteristics{
  display:none;
}

.nodge-to-the-right{
  margin-left:25px;
}

.slight-nodge-to-the-right{
  margin-left:10px;
}

.nodge-to-the-left{
  margin-right: 20px;
}
