.main-div{
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;

  max-height: 30%;
}

.main-menu-button{
  border: 2px solid #F05B46;
  background-color: white;
  border-radius: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
  min-width: 850px;
}

@font-face {
  font-family: 'Aleo Regular';
  src: url('fonts\\Aleo_font_v1.2.2\\Webfont Kit\\Regular\\aleo-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts\\Aleo_font_v1.2.2\\Desktop OTF\\Aleo-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Din Regular';
  src: url('fonts\\Din_Regular\\ufonts.com_din-regular.ttf') format('truetype')

}

.aleo-font{
  font-family: "Aleo Regular";
  font-size: 32pt;
}

.din-font{
  font-family: "Din Regular";
  font-size: 18pt;
}

.text-color{
  color: #1A3D63;
}
