body {
  padding: 20px;
}

.AddButtonFile {
  background-color: #E6E7E8;
}

.interface-size {
  max-height:70%;
  max-height:70vh;
}

.navbar-fixed-bottom{
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
    padding-left: 220px;
    padding-right: 230px;
}

.interface-overflow{
  overflow-y:auto;
}

.interface-right-size{
  height:445px;
}

.table-col-border{
  border: 2px solid #F05B46;
  margin: -1px -1px -1px -1px;
}

.table-col-border-end{
  border: 2px solid #F05B46;
  margin: -1px -1px -1px -1px;
}

.table-col-border-first{
  border: 2px solid #F05B46;
  margin: 0px -1px -1px -1px;
}

.table-col-border-end-first{
  border: 2px solid #F05B46;
  margin: 0px -1px -1px -1px;
}

.table-col-size{
  height:60px;
}

.table-contain-button{
  padding:0;
}

.table-button{
  height:56px;
  background-color: white;
  font-size: 125%;
  border-radius: 0;
}

.table-contain-h3{
  background-color: #ED8277;
}

.box-of-questions{
  max-height:200px;
  overflow:auto;
}

.box-of-products{
  display: none;
}

.input-padding{
  padding-top: 12px;
}

#custom-search-input {
  margin:0;
  margin-top: 0px;
  padding: 0;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 15px;
  margin-top: 2px;
  position: relative;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#D9230F;
}

.search-query:focus + button {
  z-index: 3;
}

.right-table-margin{
  margin-top:0px;
  margin-bottom:0px;
}

.product-button{
  background-color: white;
  border: 0px;
  border-radius: 0px;
  padding:0;
  margin: 0px;
  font-size: 20px;
  height:45px;
}

.down-button{
  font-size: 125%;
  margin-top: 25px;
  padding:0;
  background-image: url('images\\caixa bottom.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 56px;
}

.no-padding{
  padding:0;
}

.box-of-questions{
  display:none;
}

.nameProducts {
  font-size: 18px;
  padding-top: 15px;
}


.modal{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(255,255,255,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 1px solid #F05B46;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 58px;
    font-weight: bold;
    background-color: white;
    opacity: 1;
    min-height: 67px;
    min-width: 68px;
    border-left: 1px solid #F05B46;
    padding-left: 17.5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 0px 0px 16px;
    background-color: #ED8277;
    color: black;
    border-bottom: 1px solid #F05B46;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #ED8277;
    color: black;
}

.inputCatName, .inputCatName:focus, .inputCatCode, .inputCatCode:focus {
  width: 100%;
  margin: 0;
  border: none;
  padding: 0;
  outline:none;
  background: none;
  font-size: 150%;
}


.border {
  -webkit-animation: color_change 1s infinite alternate;
  -moz-animation: color_change 1s infinite alternate;
  -ms-animation: color_change 1s infinite alternate;
  -o-animation: color_change 1s infinite alternate;
  animation: color_change 1s infinite alternate;
  animation-name: color_change;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border:2px solid #F05B46;
  animation-iteration-count: 4;
}

@-webkit-keyframes color_change {
  from { background-color: white; }
  to { background-color: #F05B46; }
}
@-moz-keyframes color_change {
  from { background-color: white; }
  to { background-color: #F05B46; }
}
@-ms-keyframes color_change {
  from { background-color: white; }
  to { background-color: #F05B46; }
}
@-o-keyframes color_change {
  from { background-color: white; }
  to { background-color: #F05B46; }
}
@keyframes color_change {
  from { background-color: white; }
  to { background-color: #F05B46; }
}

#InputButtonCatName {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float: left;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

#InputButtonCatName:hover {
    background-color: #555555;
    color: white;
}

.margins {
  margin-left: 200px;
  margin-right: 200px;
}

@font-face {
  font-family: 'Aleo Regular';
  src: url('fonts\\Aleo_font_v1.2.2\\Webfont Kit\\Regular\\aleo-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts\\Aleo_font_v1.2.2\\Desktop OTF\\Aleo-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Din Regular';
  src: url('fonts\\Din_Regular\\ufonts.com_din-regular.ttf') format('truetype')

}

.aleo-font{
  font-family: "Aleo Regular";
  font-size: 24pt;
}

.din-font-14{
  font-family: "Din Regular";
  font-size: 14pt;
}

.din-font-12{
  font-family: "Din Regular";
  font-size: 12pt;
}

.product-row{
  margin-right: -11px;
}

.fechar-icon{
  background-image: url('images\\x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
}


*{
  color: #1A3D63;
  border-radius: 0 !important;
}

.x-size{
  height:25px;
}

.arrow-nodge{
  padding-left: 15px;
  height:20px;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(26, 61, 99, 1);
}

.bottom-separation{
  margin-left: -25px;
  margin-right:25px;
}

.center-cat{
  padding-top: 12px;
  margin-top:0px;
  margin-bottom: 0px;
}

.modal-header-color{
  color: #1A3D63;
}

/* loading symbol*/
#loady {
  position: absolute;
    margin: auto;
    left: 0; 
    right: 0;
    top: 50%;
    bottom: 0; 
}

#loadyText{
  vertical-align: middle;
   text-align: center;
}
/* Center the loader */
#loader {
  position: relative;
  left: 50%;
  z-index: 2;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

