<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")" />
  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/index.css")" />
  <title>Menu Inicial</title>
</head>
<body>
     <div class="main-div text-center">
    <h1 class="aleo-font text-color">Menu Inicial</h1>
    <a href="@routes.HomeController.configurarCategorias()" class="btn main-menu-button din-font text-color" type="button">CONFIGURAR CATEGORIAS/PERGUNTAS/RESPOSTAS/CARATERÍSTICAS</a>
    <a href="@routes.HomeController.produtos()" class="btn main-menu-button din-font text-color" type="button">ADICIONAR/REMOVER PRODUTOS A CATEGORIAS</a>
  </div>
  </div>
</body>
</html>
