<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")" />
  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/index.css")" />
  <title>Menu Inicial</title>
</head>
<body class="text-center">
  <div class="main-div">
    <h1>Menu Inicial</h1>
    <button type="button" class="btn btn-block main-menu-button"><a href="@routes.HomeController.configurarCategorias()">Configurar Categorias/Perguntas/Respostas/Caraterísticas</a></button>
    <button type="button" class="btn btn-block main-menu-button"><a href="@routes.HomeController.produtos()">Adicionar/Remover Produtos a Categorias</a></button>
  </div>
</body>
</html>
